<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="India’s first Blockchain Lab researching into the potentials of Blockchain Technology for masses, defense, banking and enterprises." />
    <meta name="keywords" content="" />
    <title>Contact Us | Blockchain Lab</title>
    <meta property="og:image" content="./img/BlockLab-illus.jpg"/>
    <meta>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="./img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
    <link rel="manifest" href="./img/favicon/manifest.json">

    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="./css/media-queries.css">

    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-76143597-3', 'auto');
        ga('send', 'pageview');
    </script>
</head>

<body class="proj_body">
    <header class="marYCust" style="z-index:2;">
        <div class="container p-0">
            <nav class="navbar navbar-fixed navbar-toggleable-md nav-shadow navbar_dark_bg">
                <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                       <span class="navbar-toggler-icon" style="text-align:center; padding-top: 5px;"><i class="fa fa-bars" style="color:#fff;" aria-hidden="true"></i></span>
                   </button>

                <a class="navbar-brand" href="/">
                    <img src="./img/blockLab-logo.png" class="img-fluid" width="180px;" alt="">
                </a>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav ml-auto homepage">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./projects/defence-zone.html">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./partners.html">Partners</a>
                        </li>
                        <li class="nav-item navbar_active">
                            <a class="nav-link" href="./internship-program-for-sjmsom.html">Training</a>
                        </li>
                        <li class="nav-item navbar_active">
                            <a class="nav-link" href="./contact-us.html">Contact Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="http://auxledger.com/" target="_blank">Auxledger </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://auxesisgroup.com/" target="_blank">Auxesis Group</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <section style="z-index:1;">
        <div class="container p-4 mb-2 bg_dark p-4 nav-shadow">
            <div class="row border-bottom-white  color_white">
                <div class="col-12 col-sm-6">
                    <h3>Contact Us</h3>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 form-wrap">
                    <div class="row">
                        <div class="col-12 col-sm-7 my-3 color_white">
///////////////////
                            <form class="" name="" action="http://127.0.0.1:8000/internship-program-for-sjmsom/" method="GET"  {% csrf_token %} >
                            		{% csrf_token %}
                            		  {Access-Control-Allow-Origin: *}

                                <div class="row">
                                    <div class="col-12 col-sm-12 form-group">
                                        <label for="name">Name :</label>
                                        <input type="text" name="username" class="form-control cust-input" id="name" required>
                                    </div>
                                    <div class="col-12 col-sm-6 form-group">
                                        <label for="director_name">E-mail :</label>
                                        <input type="email" class="form-control cust-input" name="email" required>
                                    </div>
                                    <div class="col-12 col-sm-6 form-group">
                                        <label for="city">Contact Number :</label>
                                        <input type="tel" class="form-control cust-input" name="phone" required>
                                    </div>
                                    <div class="col-12 col-sm-12 form-group">
                                        <label for="city">Message :</label>
                                        <textarea name="topic" class="form-control cust-textarea" id="" rows="3"></textarea>
                                    </div>
                                </div>


                                  <div class ="col-12 col-sm-6 pull-left">
                                      <input type="file" name="cv" class="form-control-file" id="cvUpload"
                                                                        aria-describedby="fileHelp"
                                                                         accept=".png, .jpg, .jpeg, .txt, application/pdf" ><br>
                                    </div>
                                <div class="col-12 col-sm-3 p-0 pull-left">
                                    <button id="auxCE_submit" class="btn btn-primary btn-block cust_btn">Submit</button>
                                </div>
                            </form>

  ////////////////////////
                        </div>
                        <div class="col-sm-5 my-3" id="map"></div>
                        <div class="clearfix"></div>

                    </div>
                    <hr class="hr-light">
                    <div class="col-sm-12 text-center color_white">
                        <p>#383 B, Powai Plaza, Powai,Mumbai 400076, India <br> <span><i class="fa fa-phone" aria-hidden="true"></i></span> +91 2249 242 006</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCvMX2n4LJN7cH46oHxQkL4GUVIS5g60C8&callback=initMap" async defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="./js/bootstrap.min.js" charset="utf-8"></script>
    <script src="./js/owl.carousel.min.js"></script>

    <script>
        function initMap() {
            var options = {
                zoom: 12,
                scrollwheel: true,
                center: {
                    lat: 19.1234,
                    lng: 72.9131
                }
            }

            // new map
            var map = new google.maps.Map(document.getElementById('map'), options)

            // Add Marker function
            function addMarker(props) {
                var marker = new google.maps.Marker({
                    position: props.coords,
                    map: map
                });

                var infoWindow = new google.maps.InfoWindow({
                    content: props.content
                });

                infoWindow.open(map, marker);

                marker.addListener('click', function() {
                    map.setZoom(14);
                    map.setCenter(marker.getPosition());
                });
            }

            // Mumbai Marker
            addMarker({
                coords: {
                    lat: 19.1234,
                    lng: 72.9131
                },
                content: '<p class=\"mb-0 ralewayMedium\">#383 B, Powai Plaza, Powai,<br /> Mumbai 400076, India</p>'
            });
        }
    </script>

</body>

</html>
